.container {
    background: linear-gradient(
      90deg,
      rgba(57, 6, 85, 1) 0%,
      rgba(21, 0, 33, 1) 17%
    );
    display: flex;
    height: 100%;
  }
  mat-form-field-label {
    color: #333; /* Change the label color */
  }
  input {
    width: 50px;
  }
  h5 {
    color: #fff;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 42.811px; /* 118.919% */
  }
  .right {
    border-radius: 30px 0px 0px 30px;
    background: #101114de;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
  .form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  p {
    color: #fff;
    text-align: center;
  
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 42.811px; /* 194.595% */
  }
  hr {
    color: #fff;
  }
  .logo {
    position: absolute;
  
    z-index: 1; /* Ensure logo is above the girl image */
  }
  .girl {
    padding-top: 40px;
    height: 503px;
  }
  .left {
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  /* Style form fields */
  .input-group {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .btn {
    width: 150px;
    border-radius: 5px;
    background: linear-gradient(94deg, #712de0 -5.78%, #eb2f93 113.82%);
  }