<div class="container">
    <div class="left">
      <h3>User profile</h3>
      <img class="profile-pic" src="assets/users/user3.png" alt="user" />
      <h4>User Name</h4>
      <p>userId</p>
      <button mat-raised-button>Edit Profile</button>
    </div>
    <div class="right">
      <mat-tab-group>
        <mat-tab label="Posts"><app-publications></app-publications> </mat-tab>
        <mat-tab label="Groups"> Content 2 </mat-tab>
        <mat-tab label="Games"> Content 3 </mat-tab>
      </mat-tab-group>
    </div>
  </div>